.habitt {
    border-collapse: collapse;
    text-align: center;
    table-layout: auto;
    width: 100%;
}
.habitt-head {
    font-size: .8em;
}
.habitt td {
    padding: 0 4px;
    vertical-align: top;
}
.habitt .habitt-th {
    color: var(--text-normal);
    font-size: .6em;
}
.habitt .habitt-td {
    position: relative;
    color: var(--text-muted);
    font-size: .8em;
    min-width: 2em;
    min-height: 2em;
    width: 14.28%;
    opacity: .5;
}
.habitt-c {
    position: relative;
    height: 100%;
}
.habitt-date {
    padding-top: 4px;
}
.habitt .habitt-td--disabled {
    opacity: .5;
    color: var(--text-muted);
}
.habitt .habitt-td--checked {
    opacity: 1;
    color: var(--text-normal);
}
.habitt-dots {
    min-height: 20px;
    padding: 0 0 4px;
}
.habitt-error {
    background-color: var(--background-primary-alt);
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
}